@model Sovet247Admin.Models.Specialty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Specialty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specialty_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession.Profession_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession.Profession_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpecialtyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
