@model Sovet247Admin.Models.Consultation

@{
    ViewBag.Title = "Просмотр консультации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр консультации</h2>
<table><tr><td>
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                <strong>@Html.DisplayFor(model => model.Consultation_Types.consultation_type)</strong>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.firstname) @Html.DisplayFor(model=>model.User.lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConsultantId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Consultant.User.firstname) @Html.DisplayFor(model => model.Consultant.User.lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.create_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.create_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profession.Profession_Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profession.Profession_Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Specialty.Specialty_title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specialty.Specialty_title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.consultation_price)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.consultation_price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Consultation_Statuses.status_title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Consultation_Statuses.status_title)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.customer_comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customer_comments)
            </dd>

        </dl>
    </div>
</td>
    @using (Html.BeginForm("SaveAdminComments","Consultations"))
    {
        @Html.AntiForgeryToken()
    <td style="padding-left:20px;">
        @Html.HiddenFor(model=>model.ConsultationId)
         @Html.LabelFor(it=>it.admin_comments) <br /> @Html.TextAreaFor(it => it.admin_comments, new { @class="form-control", @style="height:70%; width:100%;"})
        <input type="submit" class="form-control" style="margin-top:10px;display:inline-block;" value="Сохранить комментарий" />
    </td>
    }
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
