@using Sovet247Admin.Models;
@model Sovet247Admin.Models.AdminMessage

@{
    ViewBag.Title = "Просмотр сообщения";
    var childMessages = ViewBag.childMessages;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Просмотр сообщения</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fromUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromUser.firstname) @Html.DisplayFor(model=>model.FromUser.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=>model.toUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToUser.firstname) @Html.DisplayFor(model => model.ToUser.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться к списку сообщений", "Index")
</p>

<div><strong style="margin-top:10px;">Ответы</strong>
    <dl class="dl-horizontal">         
        @foreach (AdminMessage item in childMessages)
        {
            <hr  style="margin-top:5px; margin-bottom:15px;" />
            <dt>
                @Html.DisplayNameFor(it=>item.fromUserId)
            </dt>

            <dd>
                @Html.DisplayFor(it => item.FromUser.firstname) @Html.DisplayFor(it => item.FromUser.lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(it => item.toUserId)
            </dt>

            <dd>
                @Html.DisplayFor(it => item.ToUser.firstname) @Html.DisplayFor(it => item.ToUser.lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(it => item.message)
            </dt>

            <dd>
                @Html.DisplayFor(it => item.message)
            </dd>

            <dt>
                @Html.DisplayNameFor(it => item.dateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(it => item.dateCreated)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Ответить", "Answer", new { parentMessageId=Model.adminMessageId})
</div>

