@model IEnumerable<Sovet247Admin.Models.AdminMessage>

@{
    ViewBag.Title = "Сообщения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Сообщения</h2>

<p>
    @Html.ActionLink("Написать сообщение", "Create")
</p>
<table class="table">
    <tr style="max-height:100px; overflow:hidden;">
        <th>
            @Html.DisplayNameFor(model => model.fromUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @{
            var style = "";
            if (!item.IsHasRead)
            {
                style = "font-weight:bold;";
            }
        }

        <td style="@style">
            @Html.DisplayFor(modelItem => item.FromUser.firstname) @Html.DisplayFor(modelItem => item.FromUser.lastname)
        </td>
        <td style="@style">
            @Html.DisplayFor(modelItem => item.ToUser.firstname) @Html.DisplayFor(modelItem => item.ToUser.lastname)
        </td>
        <td class="messagefield" style="@style">
            @Html.ActionLink(item.subject, "Details", new { id = item.adminMessageId })
        </td>
        <td class="messagefield" style="@style">
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td style="@style">
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
    </tr>
}

</table>
